<h4 style="text-align: center">Модуль оценки взаимного влияния пользователей в социальной сети ВКонтакте.</h4>
<div style="padding-top: 15px; text-align: center">
  <img src="http://localhost:3000/photo.jpg" style=" padding-bottom: 15px;">
  <%= button_to 'Войти через ВК API',
                "https://oauth.vk.com/authorize?client_id=#{$app_id}&display=#{$display}&redirect_uri=#{$redirect_uri}&scope=#{$scope}&response_type=#{$response_type}&v=#{$version}",
                {:style => "margin: 0 auto; width: 260px; border-radius: 4px; height: 60px; border: 1px solid #fff; background: #507299; font-weight: bold; font-size: 14px; color: #fff" } %>
  <div style="height: 50px"></div>
  <b>Производство:</b></br> Кадиев З.Д.
</div>





